.me-pic {
  max-height: 500px;
  border-radius: 50%;
  max-width: 100%;
}

.container {
  text-align: center;
}

a, a:visited{
  color: black;
}

.social-icons {
  margin: 3%;
}

.social-icons a {
  margin-left: 2%;
}

.social-icons div {
  display: inline;
}

.projects img {
  max-width: 100%;
}
